{% extends 'base.html.twig'%}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %} Inscription {% endblock %}

{% block body %}
    <h1> Inscrivez-vous </h1>
    {# <form action=""> #}
        {{ form_start(form) }}
        {{ form_row(form.nom, {'label': 'Nom:', 
            'attr': {
                'placeholder': 'Saisissez le nom'
                }
            }) 
        }}
        {{ form_row(form.prenoms, {'label': 'Prenom(s):', 'attr': {'placeholder': 'Saisissez le(s) prenom(s)'}}) }}
        {{ form_row(form.dateDeNaissance, {'label': 'Date de naissance:'})}}
        {{ form_row(form.lieuDeNaissance, {'label': 'A:', 'attr': {'placeholder': 'Indiquez votre lieu de naissance'}})}}
        {{ form_row(form.domicile, {'label': 'Domicile:', 'attr': {'placeholder': 'Votre addresse'}})}}
        {{ form_row(form.arrondissement, {'label': 'Arrondissement:', 'attr': {'placeholder': 'Ex: Ier Arrondissement'}})}}
        {{ form_row(form.profession, {'label': 'Profession:', 'attr': {'placeholder': 'Ex: Etudiant'}})}}
        {{ form_row(form.pere, {'label': 'Pere:', 'attr': {'placeholder': 'Nom et prenoms de votre pere'}})}}
        {{ form_row(form.mere, {'label': 'Mere:', 'attr': {'placeholder': 'Nom et prenoms de votre mere'}})}}
        {{ form_row(form.dateDeDelivrance, {'label': 'Fait le:'})}}
        {{ form_row(form.lieuDeDelivrance, {'label': 'A:', 'attr': {'placeholder': 'Lieu de delivrance'}})}}
        {{ form_row(form.image, {'label': 'Photo:', 'attr': {'placeholder': 'Choisissez une image'}})}}
        <div class="container">
            <button type="submit" class=""btn btn-success>Inscription</button>
        </div>
        {{ form_end(form) }}
    {# </form> #}
    
    
{% endblock %}